<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .pclass{
            color: green;
            font-size: 50px;

        }

        #ullist {
        font-size: 25px;
        }

    </style>
</head>
<body>

<div>

    <ul id = "ullist">
        <li>item1</li>
        <li>item2</li>
        <li>item3</li>
    </ul>>
    <p class="pclass">asdfkasdf;asdfa's;dkf;asdkf;asdfasdf d">asdfffffasdfasfasdfasdf</p>

</div>

</body>
</html>